  
  body {
    background-image: linear-gradient(to right, rgb(158, 231, 158), rgb(36, 171, 36) );
    
    padding: 0 20px;
  }
  
  input {
   height: 55px;
   width: 98%;
   outline: none;
   border: none;
   border-radius: 5px;
   padding: 0px 3px 0px;
   font-size: 18px;
  }
  
  .search-container {
    width: 300px;
  background: rgba(248, 246, 246, 0.2);
   margin: 150px auto;
  }

  .search-container input {
   background: rgba(248, 246, 246, 0.2);
   border-radius: 5px;
   box-shadow: 0px 5px  rgb(151, 150, 150, 0.12);
  }
  .search-container .suggestions {
    border-radius: 5px;
    max-height: 280px;
    width: 100%;
  }
  .search-container.active .suggestions {
    padding: 10px 8px;
    opacity: .5;
    pointer-events: auto;
  }
  
  ul {
    padding: 0;
    width: 95%;
  }
  ul li {
    list-style: none;
    padding: 12px;
    cursor: default;
    border-radius: 5px;
    display: none;
  }
  .search-container.active .suggestions li{
    display: block;
  }
  
  ul li:hover {
    background: rgba(0, 148, 5, .4);
  }
  